/* import into index.js */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(to bottom left, #94fa8b, #a0f9ff);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Tahoma, sans-serif;
}

.screen {
  height: 4rem;
  margin-bottom: 4rem;
  color: #555;
}

.wrapper {
  background-color: #dfeee0;
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 0.4rem;
  box-shadow: 0px 9px 15px -3px #000000b2;
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.button {
  background-color: #e9f4ea;
  height: 3.5rem;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #333;
  border: none;
  font-size: 1.5rem;
}
.button:hover {
  background-color: #ebf4eb;
  border: 2px solid #dfeee0;
}

.equals {
  background-color: #5ce69f;
  grid-column: 3/5;
}
.equals:hover {
  background-color: #5ce69f;
  border: 1px solid #dfeee0;
}

.operators {
  background-color: #92c6c9;  
}
.operators:hover {
  background-color: #92c6c9;
  border: 1px solid #dfeee0;
}

.sec-operators {
  background-color: #a3dce0;
}
.sec-operators:hover {
  background-color: #a3dce0;
  border: 1px solid #dfeee0;
}